.habit-container{
  display: flex;
  flex-direction: column;
  .week-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .habit-name {
    align-self: flex-start;
    text-decoration: none;
    color: #e0e0e0;
    :visited {
      color: red;
    }
  }
  a:hover {
    cursor: pointer;
    color: #e0e0e0;
    text-decoration: underline;
  }
}