.habit-container{
  display: flex;
  flex-direction: column;

  .habit-name-container {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;

    .habit-name {
      align-self: flex-start;
      text-decoration: none;
      color: #e0e0e0;
      :visited {
        color: red;
      }
    }
    .habit-streak {
      align-self: flex-end;
    }
    a:hover {
      cursor: pointer;
      color: #e0e0e0;
      text-decoration: underline;
    }
  }
  .week-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


}