.box {
  width: 4em;
  height: 2em;
  margin-right: 4px;

  .innerBox {
    height: 100%;
    width: 100%;
    &.checked {
      background-color: #4caf50;

      &.unselected {
        border: solid #4caf50 1px;

      }
    }

    &.skipped {
      background-color:  #9e9e9e;

      &.unselected {
        border: solid  #9e9e9e 1px;

      }
    }

    &.failed {
      background-color: #f44336;

      &.unselected {
        border: solid #f44336 1px;

      }
    }

    &.none {
      background-color:  #fafafa;

      &.unselected {
        border: solid  #fafafa 1px;
      }
    }

    &.selected {
      border: solid black 1px;
    }

  }
}
